.cars-container {
  display: flex;
}

.cars-container .item {
  flex: 1;
  text-align: center;
  background-color: #d8d1bd;;
}

.cars-container .item:first-child,
.cars-container .item:last-child {
  flex: 0 0 20%;
}
