<section class="header-section">
  <header class="header">
    <a href="../index.html" class="logo">DriveSmart</a>
    <nav class="main-nav">
      <ul class="main-nav-list">
        <li class="main-nav-list-item">
          <a href="/propositions" class="main-nav-link">Пропозиції</a>
        </li>

        <li class="main-nav-list-item">
          <a href="./page-3.html" class="main-nav-link">Мапа</a>
        </li>

        <li class="main-nav-list-item">
          <a href="./page-3.html" class="main-nav-link">Форум</a>
        </li>

        <li>
          <button type="button" class="header-btn">Завантажити додаток</button>
        </li>

        <li class="main-nav-list-item">
          <a href="./page-3.html" class="main-nav-link">Увійти</a>
        </li>
      </ul>
    </nav>
  </header>
</section>

